# Python cache
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/

# Environment variables
.env

# Static files (collected)
staticfiles/


# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log

# Migrations (optional if you don’t want to track them)
# */migrations/*.py
# */migrations/__pycache__/

# Node modules (if using npm)
# node_modules/
